h1 { 
	font-family:'Dosis'; sans-serif; color:white;
	}
body { font-family:'Dosis'; sans-serif; color:white; background-color: black;
	background-size: 100%;}

nav { background-color: #1F1F1F; margin-left: 0px; margin-top: 0px;
	padding: 25px; position: fixed; box-shaodw: 0.5; margin-right: 0px;
	margin-left: 0px;
	width:100%;
    top:0px; left:0px;
	}
.nav-link:hover { color:red;
}
.nav-link2:hover { color:red;
}
.nav-link3:hover { color:red;
}


 .nav-link2, .nav-link3 { font-size: 20px; float: right;

	padding-top: 6px; margin-right: 0px; color: #A6D8EB;
	border-bottom: 2px solid #31393b; width: 8%;
	padding: 0px; margin-right: 0px; margin-left: 0px;
	margin-bottom: 0px; padding-bottom: 0px; border-top: 0px; 
	border-left: 0px; border-right: 0px; float: right;
	}

}


.footer2 {
	background-color: #1F1F1F; position: fixed;
	 box-shaodw: 0.5; color: #01bfc1; float: right; 
	 margin-left: 60px; padding-top: 20px; 
}

footer { background-color: #1F1F1F;
	padding: 15px; position: fixed; box-shaodw: 0.5; 
	margin-right: 45px; padding-right: 10px;
	width:100%;
    bottom:0px; left:0px;
	}

.nav-link:hover { color:red;

}
.footer2:hover { color:red;

}

.nav-link1 { font-size: 20px; float: right; padding-right: 10px; font-family: 'Dosis-bold';

	padding-top: 6px; margin-right: 0px; color: #A6D8EB; text-decoration: none;
	padding-top: 6px; margin-right: 0px; color: #A6D8EB;
	border-bottom: 2px solid #31393b; width: 8%;
	padding: 0px; margin-right: 0px; margin-left: 0px;
	margin-bottom: 20px; padding-bottom: 10px; border-top: 0px; 
	border-left: 0px; border-right: 0px; float: right;

}
.nav-link2, .nav-link3 { font-size: 20px; float: right; padding-right: 20px;

	padding-top: 6px; margin-right: 0px; color: #A6D8EB; text-decoration: none; padding-right: 20px;
	padding-top: 6px; margin-right: 0px; color: #A6D8EB;
	border-bottom: 2px solid #31393b; width: 8%;
	padding: 0px; margin-right: 0px; margin-left: 0px;
	margin-bottom: 20px; padding-bottom: 10px; border-top: 0px; 
	border-left: 0px; border-right: 0px; float: right; opacity: 0.5;
}

.logo 
	{
	float: top-left; width: 20%;
}

.footer2 
	{
	color:#A6D8EB; text-decoration: none; font-size: 18px;
	padding-right: 35px; opacity: 0.5; padding-top: 30px;
	float: right; top: 0px;
	}
.box
	{
	color:white; padding-right: 25px; padding-left: 25px;
	padding-top: 10px; padding-bottom: 10px; margin-left: 15px;
	background-color: black; border-radius: 3px; text-decoration: none;
	}
.imgbox 
	{
	width: 50%; float: left; border-radius: 3px;
	margin-top: 0px; margin-bottom: 5px; padding-bottom: 5px;
	}
.img 
	{
	width: 20%; float: left;
	margin-top: 0px; 
	}
.article2 {
	border-bottom: 0px solid #31393b; width:40%; margin-top: 600px;
	padding: 5px; margin-left: 0px; margin-right: 0px;
	margin-bottom: 0px; padding-bottom: 45px; background-color: black;
	border-radius: 5px;
	border-bottom: 0px solid #31393b; width:40%;
	padding: 5px; margin-left: 0px; margin-right: 0px;
	padding-bottom: 45px;
}

.event1 {
	border-bottom: 0px solid #31393b; width:45%; margin-top: 100px;
	padding: 5px; margin-left: 0px; margin-right: 0px;
	margin-bottom: 0px; padding-bottom: 45px; background-color:#31383B;
	border-radius: 5px;
	border-bottom: 0px solid #31393b; width:40%;
	padding: 5px; margin-left: 0px; margin-right: 0px;
	padding-bottom: 95px; 
}
.eventimg1 
	{
	width: 25%; float: left; border-radius: 3px;
	margin-top: 0px; margin-bottom: 5px; padding-bottom: 5px;
	}
.imgbox 
	{
	width: 50%; float: left; border-radius: 3px;
	margin-top: 0px; margin-bottom: 5px; padding-bottom: 5px;
	}
.img 
	{
	width: 20%; float: left;
	margin-top: 0px; 
	}

.music {
	border-bottom: 0px solid #31393b; width:40%; margin-top: -169px;
	padding: 5px; margin-left: 600px; margin-right: 0px;
	margin-bottom: 0px; background-color: black; height: 18%;
	border-radius: 5px;
	margin-right: 0px;
	padding-bottom: 1px; float: left;
}

.musicpic 
	{
	width: 50%; border-radius: 3px; margin-right: 20px;
	 margin-bottom: 0px; float: left;
	 margin-top: 0px; padding-top: 0px; margin-bottom: 0px;
	}
.article:hover { color:red; background-color: red; 
}
.article2:hover { color: black; background-color: red;	
}
.imgbox:hover { opacity: 0.5;	
}

.music:hover { color:red; background-color: red; 
}
.musicpic:hover { color: black; background-color: red;	
}
.imgbox:hover { opacity: 0.5;	
}

.article:hover { color:red; background-color: red; 
}
.event1:hover { color: black; background-color: red;	
}
section {
	border-top: 0px solid #f8695a; width:100%;
	padding: 25px; margin-left: 30px; margin-right: 0px;
	margin-bottom: 0px; padding-top: 0; padding-left: 0;
	}
.social { width: 3%; padding-right: 15px; opacity: 0.5; float: left;
	margin-right: 20px; padding-top: 10px;
}

/* DROP DOWN MENU */
.dropbtn {
    background-color: #1F1F1F;
    color: #A6D8EB;
    font-size: 20px;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    font-family: 'Dosis'; sans-serif; font-size: 20px;

}

.dropdown {
    position: relative;
    display: inline;
    float: right;
    font-family: 'Dosis'; sans-serif; font-size: 20px;
    padding: 0px; padding-right: 26px;
    padding-top: 0px; margin-right: 0px; color: #A6D8EB;
	border-bottom: 2px solid #31393b; width: 8%; opacity: 0.5;
	padding: 0px; margin-right: 0px; margin-left: 0px;
	margin-bottom: 0px; padding-bottom: 0px; border-top: 0px; 
	border-left: 0px; border-right: 0px; float: right; margin-top: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    font-size: 14px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 200px
}

.dropdown-content a {
    color: red;
    padding: 12px 16px;
    text-decoration: none;
    display: block; width: 30%; float: left;
}

.dropdown-content a:hover {background-color: #e60000; color: white; }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #e60000;
}
/* END DROP DOWN MENU */

body{
background-imag: url(../final/freshmixes/highlight; ?>) no-repeat; width: 100%;
}

.copy {
	opacity: 0.5; font-size: 14px; float: right;
}

.scroll {
	float: left; position: fixed; width: 18%; bottom: 0px;
	background-color: black; padding-right: 20px; padding-left: 15px;
	padding-top: 10px; padding-bottom: 20px; margin-left: 0px; margin-top: 100px;
	background-color: black; border-radius: 3px; text-decoration: none;
	margin-bottom: 80px;
	margin-right: 0px; color: white; opacity: 0.8;
}

.scroll:hover { color: white; background-color: red;
	}

.textbox{ font-size: 18px; margin-left: 100px; padding: 5px; padding-left: 200px;

}
h3 { padding-left: 200px; margin-left: 295px; padding: 5px;

}
section { height: 900px; width: 1200px;

}

.events {
	border-top: 1px solid #f8695a; width:20%; float: left;
	padding: 0px; margin-left: 30px; margin-right: 0px;
	margin-bottom: 0px; padding-top: 0; padding-left: 0;
	}


